html
 head
  style 
   include colors-type.scss 
 body
  header
   img(src='../../assets/img/logo.svg')
   .flex-container
    .first-column
     .color-boxes
      .dark-shade-100
      .dark-shade-75
      .dark-shade-50
      .dark-shade-25
      .dark-shade-5
      .purple 
      .green 
    .second-column
     .text-bold Dark Shade 100%
     .text-color #1F2041
     .text-bold Dark Shade 75%
     .text-color #1F2041
     .text-bold Dark Shade 50%
     .text-color #1F2041
     .text-bold Dark Shade 25%
     .text-color #1F2041
     .text-bold Dark Shade 5%
     .text-color #1F2041
     .text-bold Purple
     .text-color #BC9CFF
     .text-bold Green
     .text-color #6FCF97
     
    .third-column
     p text3
     
    .forth-column
     p text 4           
