html
 head
  style 
   include colors-type.scss 
 body
  header
   .logo
    img(src='../../assets/img/logo.svg')
   body
    .color-boxes
    .dark-shade-100
    .dark-shade-75
    .dark-shade-50
    .dark-shade-25
    .dark-shade-5
    .purple 
    .green 
     
    .text-dark-shade-100 Dark Shade 100% 
     .text-color #1F2041
    .text-dark-shade-75 Dark Shade 75%
     .text-color #1F2041
    .text-dark-shade-50 Dark Shade 50%
     .text-color #1F2041
    .text-dark-shade-25 Dark Shade 25%
     .text-color #1F2041
    .text-dark-shade-5 Dark Shade 5%
     .text-color #1F2041
    .text-purple Purple
     .text-color #BC9CFF
    .text-green Green
     .text-color #6FCF97
     
    
    .title-1 H1
    .sub-section-widget-title This one is the sub-section or widget title
    .title-2 H2
    .item-title Next one is the item title inside widgets 
    .title-3 H3
    .label This is a label or CTA text
    .body Body
    .body-text This is the body text which is used for most of the design, like paragraphs, lists, etc.
     
          
