html
 head
  style 
   include colors-type.scss 
 body
  header
   img(src='../../assets/img/logo.svg')
   .flex-container
    .first-column
     .color-boxes
      .dark-shade-100
      .dark-shade-75
      .dark-shade-50
      .dark-shade-25
      .dark-shade-5
      .purple 
      .green 
    .second-column
     .text text2
     .text text2
     .text text2
     .text text2
     .text text2
     .text text2
     
    .third-column
     p text3
     
    .forth-column
     p text 4           
