.header-menu_navbar {
    display: flex;
    flex-direction: row;
    align-items: center;
}

.navbar_inmenu {
    padding-left: 285px;
 }

.button-enter_inmenu {
padding-left: 20px;
}

.button-register_inmenu {
padding-left: 20px;
}
