mixin header-menu-loggedin
 include ../logo_toxin/logo-toxin
 include ../navbar-loggedin/navbar-loggedin

 .header-menu_navbar
  +logo-toxin
  .navbar_inmenu
   +navbar-loggedin
  
//+header-menu-loggedin
