html
 head
  style 
   include header.scss 
 body
  header
   .logo
    img(src='../../assets/img/logo.svg')
   body
    .logo-toxin
     img(src='../../assets/img/logo_toxin.svg')
    .about-us О нас
    .services Услуги
    .tick expand_more
   	   
