html
 head
  style 
   include header.scss 
 body
  .logo
   img(src='../../assets/img/logo.svg')
   .header
    .logo-toxin
     img(src='../../assets/img/logo_toxin.svg')
    .header-menu    
     .about-us О нас
     .services Услуги
     .tick expand_more
     .vacancies Вакансии
     .news Новости
     .agreements Соглашения
     .tick expand_more 
    .button
     .enter войти
    .button-register
     .register зарегистрироваться
   	   
