html
 head
  meta(name="viewport" content="width=600, initial-scale=1")
  style 
   include header.scss 
 body
  .logo
   img(src='../../assets/img/logo.svg')
   .header_logged-out
    .header
     .logo-toxin
      img(src='../../assets/img/logo_toxin.svg')
     .header-menu_margin-1
      .header-menu-logged-out
       .header-menu__about-us О нас
       .header-menu__services Услуги
       .header-menu__tick expand_more
       .header-menu__vacancies Вакансии
       .header-menu__news Новости
       .header-menu__agreements Соглашения
       .header-menu__tick expand_more 
     .button
      .enter войти
     .button-register
      .register зарегистрироваться
    .header
     .logo-toxin
      img(src='../../assets/img/logo_toxin.svg')
     .header_logged-in
      .header-menu-logged-in
       .header-menu__about-us О нас
       .header-menu__services Услуги
       .header-menu__tick expand_more
       .header-menu__vacancies Вакансии
       .header-menu__news Новости
       .header-menu__agreements Соглашения
       .header-menu__tick expand_more  
       .header-menu__name Юлий Цезарь
    .big-nav-bar
     .logo-block  	
      .logo-block__logo-toxin
       img(src='../../assets/img/logo_toxin.svg')
      .logo-block__text Бронирование номеров в лучшем отеле 2019 года по версии ассоциации «Отельные взгляды»
     .nav-block 
      .nav-block__block навигация
      .nav-block-navigation__item О нас
      .nav-block-navigation__item Новости
      .nav-block-navigation__item Служба поддержки
      .nav-block-navigation__item Услуги
     .about-us-block
      .nav-block__block О нас
      .nav-block-navigation__item О сервисе
      .nav-block-navigation__item Наша команда
      .nav-block-navigation__item Вакансии
      .nav-block-navigation__item Инвесторы
     .services-block
      .nav-block__block служба поддержки
      .nav-block-navigation__item Соглашения
      .nav-block-navigation__item Сообщества
      .nav-block-navigation__item Связь с нами
     .subscription
      .nav-block__block подписка
      .subscription__text Получайте специальные предложения и новости сервиса	
      .subscr-box
       .text-email Email
       .arrow  
        a(href='#') arrow_forward
    .copyright-block
     .copyright-block__text Copyright © 2018 Toxin отель. Все права зачищены.
     .social
      a(href='#').fa-twitter
      a(href='#').fa-facebook-square
      a(href='#').fa-instagram



