@import '../../assets/scss/variables.scss';
@import '../../assets/scss/fonts.scss';

body {
    width: 1440px;
    height: 1350px;
    margin: 0;
    padding: 0;
    display: flex;
}

.logo {
    position: absolute;
    
    width: 48px;
    height: 48px;
    left: 30px;
    top: 30px;
}

.header {
    width: 1440px;   
    height: 70px;
    display: flex;
    align-items: center;
}

.header-menu_margin-1 {
    margin-left: 284.31px;
}

.header-menu-logged-out {
    width: 447px;
    height: 21px;
    display: flex;
    align-items: center;
    padding: 20px 0 23px 0;
}

.header_logged-out {
     margin-left: 5px;
}



.logo-toxin {
    width: 105.69px;
    height: 40px;
    padding: 9px 0 15px 110px;
 }


.header-menu__about-us {
width: 43px;
height: 18px;
padding: 0 0 3px 0;
display: flex;
font-family: Montserrat;
font-style: normal;
font-weight: bold;
font-size: 14px;
line-height: 17px;
color: rgba(31, 32, 65, 0.75);

}

.header-menu__services {
width: 50px;
height: 18px;
padding: 0 0 3px 20px;
display: flex;

font-family: Montserrat;
font-style: normal;
font-weight: normal;
font-size: 14px;
line-height: 17px;

/* Dark 50% */

color: $dark-shade-50;


}

.header-menu__tick {
width: 24px;
height: 21px;
padding: 0 0 3px 0;

font-family: Material Icons;
font-style: normal;
font-weight: normal;
font-size: 24px;
line-height: 20px;
/* identical to box height */

display: flex;

/* Dark 50% */
color: $dark-shade-50;
}

.header-menu__vacancies {
width: 72px;
height: 18px;
padding: 0 0 3px 20px;
display: flex;
font-family: Montserrat;
font-style: normal;
font-weight: normal;
font-size: 14px;
line-height: 17px;

/* Dark 50% */
color: $dark-shade-50;
}

.header-menu__news {
width: 62px;
height: 18px;
padding: 0 0 3px 20px;
display: flex;

font-family: Montserrat;
font-style: normal;
font-weight: normal;
font-size: 14px;
line-height: 17px;

/* Dark 50% */
color: $dark-shade-50;
}

.header-menu__agreements {
width: 92px;
height: 18px;
padding: 0 0 3px 20px;
display: flex;
font-family: Montserrat;
font-style: normal;
font-weight: normal;
font-size: 14px;
line-height: 17px;

/* Dark 50% */
color: $dark-shade-50;
}

.button {
width: 87px;
height: 20px;
padding: 15px 0 16px 0;
margin-left: 18px;
margin-bottom: 5px;
display: flex;
border-radius: 22px;
border: 2px solid rgba(188, 156, 255, 1);
box-sizing: border-box;
align-items: center;

}

.enter {
width: 47px;
height: 15px;
padding: 8px 20px 13px 20px;
display: flex;
font-family: Montserrat;
font-style: normal;
font-weight: bold;
font-size: 12px;
line-height: 15px;
/* identical to box height */

text-transform: uppercase;
/* Primary Color */
color:  #BC9CFF;
}

.button-register {
width: 196px;
height: 20px;
padding: 18px 140px 20px 0;
margin-left: 22px;
margin-bottom: 10px;
display: flex;
box-sizing: border-box;
/* Primary Gradient */

background: linear-gradient(180deg, #BC9CFF 0%, #8BA4F9 100%);
border-radius: 22px;
align-items: center;

}

.register {

width: 157px;
height: 15px;
padding: 20px 20px 25px 20px;
margin-top: 5px;
display: flex;
font-family: Montserrat;
font-style: normal;
font-weight: bold;
font-size: 12px;
line-height: 15px;
/* identical to box height */

text-transform: uppercase;

color: #FFFFFF;
}


.header_logged-in {
    margin-left: 466.31px;
    
}

.header-menu-logged-in {
 width: 588px;
    height: 30px;
    display: flex;
    align-items: center;
    padding: 20px 0 23px 0;

}


.header-menu__name {
    display: flex;
width: 100px;
height: 18px;
padding: 0 0 3px 41px;
font-family: Montserrat;
font-style: normal;
font-weight: normal;
font-size: 14px;
line-height: 17px;

/* Dark 50% */

color: $dark-shade-50;

}

.big-nav-bar {
width: 1440px;
height: 372px;
margin-top: 40px;
background: #FFFFFF;
box-shadow: 0px 1px 0px rgba(31, 32, 65, 0.1);
display: flex;
flex-direction: row;
}

.logo-block {
    width: 260px;
    height: 132px;
    padding: 100px 0 100px 120px;
    display: flex;
    flex-direction: column;
    justify-content: start;

}

.logo-block__logo-toxin {

    width: 105.69px;
    height: 40px;
    padding: 9px 0 15px 0;
}

.logo-block__text {
width: 260px;
height: 72px;
display: flex;

font-family: Montserrat;
font-style: normal;
font-weight: normal;
font-size: 14px;
line-height: 24px;
/* or 171% */
/* Dark 75% */
color: $dark-shade-75;
}

.nav-block {
 width: 143px;
 height: 168px;
 padding: 100px 0 100px 40px;
}

.nav-block__block {

width: 149px;
height: 15px;
padding: 0 0 0 40px;

font-family: Montserrat;
font-style: normal;
font-weight: bold;
font-size: 12px;
line-height: 15px;
/* identical to box height */

text-transform: uppercase;

/* Dark 100% */

color: #1F2041;
}

.nav-block-navigation__item {
font-family: Montserrat;
font-style: normal;
font-weight: normal;
font-size: 14px;
line-height: 17px;
padding: 20px 0 0 40px;
width: 143px;
/* Dark 50% */

color: $dark-shade-50;
}

.about-us-block {
width: 108px;
height: 168px;
padding: 100px 0 100px 57px;
}

.services-block {
width: 149px;
height: 130px;
padding: 100px 0 100px 92px;
}

.subscription {

width: 280px;
height: 84px;
padding: 100px 0 100px 51px;

}

.subscription__text {
width: 260px;
height: 48px;    
font-family: Montserrat;
font-style: normal;
font-weight: normal;
font-size: 14px;
line-height: 24px;
/* or 171% */


/* Dark 75% */

color:  $dark-shade-75;
padding: 21px 0 0 40px;

}

.subscr-box {

width: 260px;
height: 44px;
padding: 20px 0 0 40px;
background: #FFFFFF;
border: 1px solid rgba(31, 32, 65, 0.25);
box-sizing: border-box;
border-radius: 4px;


}
