@import '../../assets/scss/variables.scss';
@import '../../assets/scss/fonts.scss';

body {
    width: 1440px;
    height: 1350px;
    margin: 0;
    padding: 0;
    display: flex;
}

.logo {
    position: absolute;
    
    width: 48px;
    height: 48px;
    left: 30px;
    top: 30px;
}

.header {
    width: 1440px;   
    height: 70px;
    display: flex;
    align-items: center;
}

.header-menu_margin-1 {
    margin-left: 284.31px;
}

.header-menu-logged-out {
    width: 447px;
    height: 21px;
    display: flex;
    align-items: center;
    padding: 20px 0 23px 0;
}

.header_logged-out {
     margin-left: 5px;
}

.logo-toxin {
    width: 105.69px;
    height: 40px;
    margin-left: 110px;
    margin-top: 9px;
    margin-bottom: 15px;
}


.header-menu__about-us {
width: 43px;
height: 18px;
padding: 0 0 3px 0;
display: flex;
font-family: Montserrat;
font-style: normal;
font-weight: bold;
font-size: 14px;
line-height: 17px;
color: rgba(31, 32, 65, 0.75);

}

.header-menu__services {
width: 50px;
height: 18px;
padding: 0 0 3px 20px;
display: flex;

font-family: Montserrat;
font-style: normal;
font-weight: normal;
font-size: 14px;
line-height: 17px;

/* Dark 50% */

color: $dark-shade-50;


}

.header-menu__tick {
width: 24px;
height: 21px;
padding: 0 0 3px 0;

font-family: Material Icons;
font-style: normal;
font-weight: normal;
font-size: 24px;
line-height: 20px;
/* identical to box height */

display: flex;

/* Dark 50% */
color: $dark-shade-50;
}

.header-menu__vacancies {
width: 72px;
height: 18px;
padding: 0 0 3px 20px;
display: flex;
font-family: Montserrat;
font-style: normal;
font-weight: normal;
font-size: 14px;
line-height: 17px;

/* Dark 50% */
color: $dark-shade-50;
}

.header-menu__news {
width: 62px;
height: 18px;
padding: 0 0 3px 20px;
display: flex;

font-family: Montserrat;
font-style: normal;
font-weight: normal;
font-size: 14px;
line-height: 17px;

/* Dark 50% */
color: $dark-shade-50;
}

.header-menu__agreements {
width: 92px;
height: 18px;
padding: 0 0 3px 20px;
display: flex;
font-family: Montserrat;
font-style: normal;
font-weight: normal;
font-size: 14px;
line-height: 17px;

/* Dark 50% */
color: $dark-shade-50;
}

.button {
width: 87px;
height: 20px;
padding: 15px 0 16px 0;
margin-left: 18px;
margin-bottom: 5px;
display: flex;
border-radius: 22px;
border: 2px solid rgba(188, 156, 255, 1);
box-sizing: border-box;
align-items: center;

}

.enter {
width: 47px;
height: 15px;
padding: 8px 20px 13px 20px;
display: flex;
font-family: Montserrat;
font-style: normal;
font-weight: bold;
font-size: 12px;
line-height: 15px;
/* identical to box height */

text-transform: uppercase;
/* Primary Color */
color:  #BC9CFF;
}

.button-register {
width: 196px;
height: 20px;
padding: 18px 140px 20px 0;
margin-left: 22px;
margin-bottom: 10px;
display: flex;
box-sizing: border-box;
/* Primary Gradient */

background: linear-gradient(180deg, #BC9CFF 0%, #8BA4F9 100%);
border-radius: 22px;
align-items: center;

}

.register {

width: 157px;
height: 15px;
padding: 20px 20px 25px 20px;
margin-top: 5px;
display: flex;
font-family: Montserrat;
font-style: normal;
font-weight: bold;
font-size: 12px;
line-height: 15px;
/* identical to box height */

text-transform: uppercase;

color: #FFFFFF;
}


.header_logged-in {
    margin-left: 466.31px;
    
}

.header-menu-logged-in {
 width: 588px;
    height: 30px;
    display: flex;
    align-items: center;
    padding: 20px 0 23px 0;

}


.header-menu__name {
    display: flex;
width: 100px;
height: 18px;
padding: 0 0 3px 41px;
font-family: Montserrat;
font-style: normal;
font-weight: normal;
font-size: 14px;
line-height: 17px;

/* Dark 50% */

color: $dark-shade-50;

}
