mixin navbar
 .navbar
  .navbar__about-us О нас
  .navbar__services Услуги
  .navbar__tick expand_more
  .navbar__vacancies Вакансии
  .navbar__news Новости
  .navbar__agreements Соглашения
  .navbar__tick expand_more 

//+navbar
