mixin footer 
 include ../logo_toxin/logo-toxin

 .footer-nav-bar
  .logo-block  	
   .logo-block__logo-toxin
    +logo-toxin 
   .logo-block__text Бронирование номеров в лучшем отеле 2019 года по версии ассоциации «Отельные взгляды»
  .nav-block навигация
   li О нас 
   li Новости
   li Служба поддержки
   li Услуги
  .nav-block О нас
   li О сервисе
   li Наша команда
   li Вакансии
   li Инвесторы
  .nav-block служба поддержки
   li Соглашения
   li Сообщества
   li Связь с нами
  .nav-block подписка
   .subscription__text Получайте специальные предложения и новости сервиса	
    .subscr-box
     .text-email Email
     .arrow  
      a(href='#') arrow_forward
+footer
