mixin footer-mobile
  include ../logo_toxin/logo-toxin
  include ../copyright/copyright
  include ../social/social

  .footer-mobile__column
   +logo-toxin
   .footer-mobile__copyright
    +copyright
   +social


//+footer-mobile
