include ../logo/logo 
include ../header_menu/header-menu
include ../header_menu_loggedin/header-menu-loggedin
include ../footer/footer
include ../copyright/copyright
include ../social/social
include ../footer_mobile/footer-mobile

.container
 +logo
 .header-menu_inpage
  +header-menu 
 .header-menu-loggedin_inpage
  +header-menu-loggedin
 .footer_inpage
  +footer
 .footer-mobile_inpage
  +footer-mobile
