.container {
    display: flex;
    flex-direction: column;
}

.header-menu_inpage {
    margin: 158px 0 0 140px;
   
}

.header-menu-loggedin_inpage {
    margin: 65px 0 0 140px;
}

.footer_inpage {
    margin: 154px 0 0 140px;
}

.footer-mobile_inpage {
    padding: 185px 0 0 335px;
    
}

